In [ ]:
# pipenv install scikit-learn scipy pandas matplotlib statsmodel fastapi uvicorn pydantic pingouin seaborn ipykernel

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from scipy.stats import shapiro, kstest, probplot
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import qqplot

## Carga dos dados

In [2]:
# Abrir o dataset
df_pontuacao = pd.read_csv('./datasets/pontuacao_teste.csv')

In [3]:
# Checar estrutura do Dataset
df_pontuacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   horas_estudo     101 non-null    float64
 1   pontuacao_teste  101 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 1.7 KB

In [4]:
# Visualizar topo do dataframe
df_pontuacao.head(10)

   horas_estudo  pontuacao_teste
0           1.1               30
1           2.0               55
2           2.5               60
3           3.6               75
4           4.2               85
5           5.0              100
6           5.5              115
7           6.1              120
8           6.5              130
9           7.2              145

In [5]:
# Visualizar final do dataframe
df_pontuacao.tail(10)

     horas_estudo  pontuacao_teste
91           44.9              750
92           45.1              755
93           45.3              760
94           45.5              765
95           45.7              770
96           46.0              780
97           46.2              785
98           46.4              790
99           46.6              795
100          46.9              800